
<section class="search">
    <div class="logo"></div>
    <div class="searching">
    <form action="/search" method="POST">
        <input type="text" type="submit" name="searched" class="searchItem" placeholder="Search an item"><button style="height: 100%;" class="searchButton">Search</button> 
</form>
</div>
    <form action="/recent" method="GET">
        <button class="button">Recently Added</button>
    </form>
</section>  